*.o
*~
stamp-h1
test-driver
*/.deps/
*/.libs/
/test/*.log
/test/*.trs
*.lo
*.la
Makefile
Makefile.in
config.h
config.h.in
config.sub
config.status
missing
install-sh
ltmain.sh
missing
libtool
aclocal.m4
autom4te.cache/
compile
config.guess
config.log
configure
depcomp
test/benchbitslice
test/benchbitsliceks
test/benchdec
test/benchenc
test/benchks
test/testbitslice
test/testbsops
test/testdec
test/testenc
